.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tiendadonchucho-2c4fb.appspot.com/o/FrutasyVerduras.jpg?alt=media&token=3bb1cca9-355b-4d03-bad4-a4e7adfdc3b6");
    background-position: top center;
    background-size: cover;
    padding: 22%;
    position: relative;
    z-index: 1;
    color:white;
    background-attachment:fixed;
}

.banner::after{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top:0;
    left:0;
    opacity: 0.5;
    z-index: -1;
}